<h2><%=(@restaurant.name).capitalize%></h2>
<p><%=@restaurant.address%></p>
<p><%=@restaurant.phone_number%></p>
<p><%=@restaurant.category%></p>
<% @restaurant.reviews.each do |review| %>
<%= review.content %>
<% end %>
<br>
<%= link_to "Back to list", restaurants_path%>
<br>
<%= link_to "Add a review", new_restaurant_review_path(@restaurant)%>
